/src/main/java/de/hohenheim/sopraproject/entity/test.java
/.gradle/6.3/fileHashes/fileHashes.bin
/.gradle/6.3/fileHashes/fileHashes.lock
/.gradle/6.3/javaCompile/javaCompile.lock
/.gradle/6.3/javaCompile/taskHistory.bin
/.gradle/checksums/checksums.lock
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/6.3/executionHistory/executionHistory.bin
/.gradle/6.3/executionHistory/executionHistory.lock
