<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/432f23bc6a.js" crossorigin="anonymous"></script>

    <title>Institut Details</title>
</head>

<body class="backgroundimage">

<!--Navbar fragment on top of the site. Contains all navigation elements of the project as well as the dropdown menu in order to view the options, logout or add User button-->
<header th:insert="fragments/htmlHead.html :: header"> </header>

<div class="container-fluid">

    <!-- Main Body of the ContactDetails Site, includes general Information, aswell as Contact Histories and Relationships, which all can be Edited or removed-->
    <h1 align="center" class="ml-1" style="margin-top: 15px"> <i class="far fa-building"></i> Institut Informationen</h1>
    <div class="row ml-1">
        <a type="button" class="btn btn-secondary" th:href="@{/institutes}" method="get" th:text="'Zurück'">
        </a>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger ml-1" data-toggle="modal" data-target="#deleteModal">
            Institut Löschen
        </button>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Institut löschen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Sind sie sicher das Sie dieses Institut löschen möchten?

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                        <form ACTION="#" th:action="@{/deleteInstitute}" th:object="${instituteDTO}" method="post">
                            <input type="hidden" th:value="${instituteDTO.instituteID}" th:name ="instituteID" />

                            <button type="submit" class="btn btn-danger ml-3">Institut löschen</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Accordion for better navigation-->
    <div class="accordion mt-2" id="accordionExample">
        <div class="card">

            <!-- First Accordion Element, with general Information of the viewed Contact-->
            <div class="card-header" id="headingOne">
                <h1 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h3 class = "text-dark">Allgemeine Kontaktinformationen</h3>
                    </button>
                </h1>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <form class="form-horizontal" id="multiCollapseExample1" th:object="${instituteDTO}" th:action="@{/savingInstitute}" method="post">

                        <input type="hidden" th:value="${instituteDTO.instituteID}" th:name ="instituteID" />
                        <!-- Input and View Field for the Contact Details-->
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
                            Bitte überprüfen Sie Ihre Änderungen, da diese Fehlerhaft sind.
                        </div>

                        <!--Viewing and Editing general Informations of the Institute-->
                        <div>
                            Name: <input type="text" class="form-control" name = "name"
                                         pattern="[0-9?!¡¿“¶[]|{}≠€§$%&/()=`+#'.,{´]^°<>]"
                                         th:field="*{institute.name}" required>
                            <div class="valid-feedback">valid</div>
                            <div class="invalid-feedback">Bitte geben sie einen Namen an</div>

                            Homepage:<input type="text" class="form-control" name = "linkToHomepage" th:field="*{institute.linkToHomepage}" required/></br>

                            E-Mail:<input type="email" class="form-control" name = "linkToHomepage" th:field="*{institute.email}" required/></br>
                            <div class = "row">
                                <div class = "col">
                                    Stadt:<input type="text" class="form-control" name = "tempCity" minlength="3" th:field="*{institute.address.city}" required/>

                                </div>
                                <div class = "col">
                                    Straße:<input type="text" class="form-control" name = "tempStreet" minlength="3" th:field="*{institute.address.street}" required/>
                                </div>
                                <div class = "col">
                                    Hausnummer:<input class="form-control" name = "tempHouseNmbr" pattern="^[0-9]{1,6}[/]{0,1}[0-9]{0,1}[-]{0,1}[0-9]{0,1}[a-z]{0,1}[A-Z]{0,1}$"  required th:field="*{institute.address.houseNumber}" type="text"/>
                                </div>
                                <div class = "col">
                                    Postleitzahl:<input type="text" class="form-control" name = "tempZipCode" th:field="*{institute.address.zipCode}"
                                                        pattern="^[0-9]{5}$" title="Postleitzahlen bestehen nur aus Zahlen und sind 5 Zeichen lang" required/>
                                </div>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#saveModal">
                            Änderungen speichern
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="saveModalLabel">Institut bearbeiten</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Sind sie sicher das Sie die Änderungen speichern möchten?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                                        <button type="submit" class="btn btn-primary">Änderungen speichern</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <!-- Second Accordion Element for Relationships-->
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h3 class = "text-dark">Mitarbeiter</h3>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <!--Table for Relationships-->
                    <table class="table table-striped" th:if="${viewTable}">
                        <tr>
                            <th>Name</th>
                            <th>Studium</th>
                            <th>Homepage</th>
                            <th>Funktionen</th>
                        </tr>
                        <tr th:each="contact : ${instituteDTO.institute.contacts}">
                            <td th:text="${contact.firstname + ' ' + contact.lastname}"></td>
                            <td th:text="${contact.courseOfStudies}"></td>
                            <td th:text="${contact.linkToHomepage}"></td>
                            <td>
                                <form ACTION="#" th:action="@{/deleteContactFromInstitute}" th:object="${instituteDTO}" method="post">
                                    <input type="hidden" th:value="${contact.contactID}" th:name ="contactTempID" />
                                    <input type="hidden" th:value="${instituteDTO.instituteID}" th:name ="instituteID" />
                                    <button type="submit" class="btn btn-danger">Mitarbeiter entfernen </button>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <!-- If Statement if no Relationship is available -->
                    <div class="ml-5 mr-5 mt-5" th:if="${not viewTable}">
                        Institut besitzt keine Mitarbeiter, neuen Mitarbeiter zuordnen?
                    </div>
                    <!-- Button to Start Creation of new Relationship -->
                    <!-- Button to enable the adding of other Contacts -->
                    <a class="btn btn-primary" method="get" th:href="@{/instituteContactCreator/{instituteID}(instituteID=${instituteDTO.getInstituteID()})}" th:text="'Neuen Mitarbeiter hinzufügen'" type="button">
                    </a>

                </div>
            </div>
        </div>
        <!-- Third Accordion Element for Viewing of Contact Histories-->
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <h3 class = "text-dark">Tags</h3>
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row" th:each="tag : ${institute.tags}">
                        <div class="col">
                            <form ACTION="#" th:action="@{/deleteInstituteTag}" th:object="${tagDTO}" method="get">

                                <input type="hidden" th:value="${tag.tagsID}" th:name ="tagID" />
                                <input type="hidden" th:field="${tagDTO.originalID}" />
                                <button type="submit" class="tagblue mb-2 btn btn-info " href="#">
                                    <a class="mr-2" th:text="${tag.name}"></a>
                                    <i class ="fas fa-times icon-large " ></i>
                                </button>

                            </form>
                        </div>
                    </div>

                    <!-- If Statement if no Relationship is available -->
                    <div class="mr-5 mt-5 mb-2" th:if="${not viewTable}" >
                        Keine Kontakthistorien vorhanden, neue Kontakthistorie anlegen?
                    </div>
                    <!-- Button to Start Creation of new Tag -->
                    <a type="button" class="btn btn-primary" th:href="@{/tags/{type}/{instituteID}(type= ${'institute'}, instituteID=${institute.getInstituteID()})}" method="get" th:text="'Tag zuordnen'">
                    </a>

                </div>
            </div>
        </div>


    </div>
</div>

<footer th:insert="fragments/htmlFooter.html :: footer"> </footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>