.nav-item:hover {
    background-color: #004a8a;
    opacity: 0.50;
}
.navbar{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.navbar-logo{
    font-size: 24px;
}

.li:hover{
    background-color: whitesmoke;
}
.sortable th {
    cursor: pointer;
}
.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}
/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width:73%;
    min-width: 1200px;
    min-height: 600px;
    background-color: #f5f5f5;
    border: 2px solid #d4d4d4;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.container-fluid-home{
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 75%;
    min-width: 1100px;
    min-height: 600px;
    background-color: #f5f5f5;

    border-radius: 3px;
    border: 2px solid #d4d4d4;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.body{
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}
.container-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Uni Layout general*/
.uniblue{
    background-color: #003f75;
}
.tagblue{
    background-color: #428c68;
}
/* -------------------BUTTONS------------------------------------*/
.btn-primary{
    border-radius: 1px;
    background-color: #003f75;
    border-color: #003f75;
    outline: none;
    box-shadow:none !important;
}
.btn-primary:hover{
    background-color: #005fb0;
}
.btn-secondary{
    border-radius: 1px;
    background-color: #616161;
    border-color: #616161;
    outline: none;
    box-shadow:none !important;
}
.btn-danger{
    border-radius: 1px;
    background-color: #a3251c;
    border-color: #a3251c;
    outline: none;
    box-shadow:none !important;
}
.btn-info{
    background-color: #428c68;
    border-color: #428c68;
    outline: none;
    box-shadow:none !important;
}
.btn-info:hover{
    background-color: #428c48;
}
/* -------------------BUTTONS------------------------------------*/
.lightgrey {
    background-color: #f5f5f5;
}
.backgroundimage{
    background-image: url("Hintergrundbild.jpg");
    background-position: left top;
    background-attachment: fixed;
    /* Full height */
    height: 100%;
    align-content: center;
    /* Center and scale the image nicely */
    background-position: center;
}
/* Accordion */
.accordion{
    border-radius: 4px;
}
.card-header{
    border-radius: 4px;
    border: 2px solid #c7c7c7;
    padding: 20px;

}
.card-body{
    border-radius: 2px;
}
.card{
    border-radius: 4px;
    border: 2px solid #c7c7c7;
    padding: 5px;
}
/* Login */
.centerAlign{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.table-scroll {
    height:600px;
    width:820px;
    overflow:auto;
    margin-top:20px;
}
.my-custom-scrollbar {
    position: relative;
    max-height: 1600px;
    overflow: auto;
}
.my-custom-modal {
    position: relative;
    height: 600px;
    overflow: auto;
}
.my-custom-contact {
    position: relative;
    height: 650px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
input[type="text"], textarea {
    border-radius: 0px;
}
input[type="email"], textarea {
    border-radius: 0px;
}
input[type="password"], textarea {
    border-radius: 0px;
}
input[type="number"], textarea {
    border-radius: 0px;
}
input[type="date"], textarea {
    border-radius: 0px;
}