*{
    /*damit die ganze Website in Reihen unterteilt ist und man besser die Längen bestimmen kann*/
    box-sizing: border-box;
}
/*Die Einteilung*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*Eigenschaften des Kalenderausschnittes auf der Startseite*/
.calender{
    width: 40%;
    float: right;
    background-color: white;
    color: black;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*Eigenschaften der oberen Leiste der Startseite*/
.topBar{
    padding: 8px;
    margin-bottom: 7px;
    background-color: gray;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.12);
    text-align: right;
}

.topBar p{
    padding: 8px;
    margin: 2px;
    background-color: gray;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.12);

}

/*Hover Effekt für die einzelnen Knöpfe innerhalb der oberen Leiste*/
.topBar p:hover{
    background-color: #0099cc;
}

/*Suchleiste innerhalb der oberen Leiste*/
.topBar.search-container{
    float:right;
}

/*Eigenschaften der Suchleiste*/
.topBar input[type=text]{
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
}

/*Eigenschaften für den Suchknopf*/
.topBar.search-container button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/*Effekte für den späteren Suchknopf*/
topBar.search-container button:hover{
    background: white;
}

@media screen and (max-width: 600px) {
    .topBar.search-container {
        float: none;
    }
    .topBar input[type=text], .topBar .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topBar input[type=text] {
        border: 1px solid lightgray;
    }
}


.topBar header{
    border: 1px solid black;
}

/*Eigenschaften der linken Leiste der Startseite*/
.sidebar{
    background-color: grey;
    color: black;
    float: left;
    padding: 10px;
    width: 15%;
    height: 723px;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/*Eigenschaften der Auflistung innerhalb der linken Leiste*/
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: gray;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/*Effekt wenn die Maus über eine Box innerhalb der linken Leiste hovert*/
.sidebar li:hover {
    background-color: #0099cc;
}

/*Eigenschaften der Timeline im Hauptbereich der Startseite*/
.timeline{
    width: 40%;
    background-color: white;
    padding: 10px;
    margin-left: 8px;
    text-align: left;
    text-after-overflow: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/*Eigenschaften der Auflistung innerhalb der Timeline*/
.timeline ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.timeline li{
    padding: 8px;
    margin-bottom: 7px;
    background-color: lightgray;
    color: black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.timeline li:hover{
     background-color: white;
 }

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/*Eigenschaften der gesamten Startseite in Sachen Formatierung*/
 body{
   background-color: lightskyblue;
     padding: 1em;
     width: 100%;  /*Weite des Bildschirms ist bei 100%*/
     height: 100%;
     margin: 0 auto; /*Abstand der Zeilen berträgt 0 außer es wird manuell verändert*/
     border: 3px solid white; /*Weißer Rand um den gesamten Text*/
}
/*Überschriften Formatierung*/
 h1{
     text-align: center;
     font-family: Calibri;
 }
 h2{
     text-align: left;
     font-family: Calibri;
     margin-left: 10px;
 }

 p{
     font-family: Calibri;
 }

/*Tabellenformatierung*/
 table{
     border-collapse: collapse;
 }
 table,th,td{
     border: 1px solid black;
     font-family: Calibri;
 }
 th{

     text-align: center;
     background-color: blue;
     color: white;
 }
 td{
    text-align: left;
    background-color: lightblue;
    color: black;
 }

