<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/432f23bc6a.js" crossorigin="anonymous"></script>

    <title>Kontakte</title>
</head>

<body class="backgroundimage">

<!--Navbar fragment on top of the site. Contains all navigation elements of the project as well as the dropdown menu in order to view the options, logout or add User button-->

    <header th:insert="fragments/htmlHead.html :: header"> </header>

   <!-- Main Body of the contact html site. It shows a table across the site showing off all the important information of the contacts. These informations contain
        the name, their major, their date of birth, their email adress and a function column filled with a button per contact that allows the user to edit/delete the said contact-->
            <div class = "container-fluid ">
                <h1 align="center" style="margin-top: 15px"> <i class="far fa-address-book"></i> Kontakte</h1>

                <form action = "#" th:action = "@{/saveContact}" th:object ="${contact}" class="was-validated" method = post>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
                        Bei der Speicherung des Kontakts ist ein Fehler unterlaufen, bitte überprüfen Sie die Eingaben.
                    </div>
                    <div class="form-group mr-5">
                        <!-- Submit Button -->
                        <button name="submit" type="button" class="btn btn-primary" data-toggle="modal" data-target="#submitModal">
                            Neuen Kontakt hinzufügen
                        </button>
                        <!-- Modal for Submit Button -->
                        <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="submitModalLabel">Kontakt Speicherung</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!--Inputs for a contact in a small Modal once the button: Neuen Kontakt hinzufügen is pushed-->
                                    <div class="modal-body table-wrapper-scroll-y my-custom-modal">
                                        <div class = "row">
                                            <div class = "col w-25">
                                                Vorname: <input type="text" class="form-control"maxlength="40" name = "firstname" th:field="*{firstname}" required>
                                                <div class="invalid-feedback">Bitte geben sie einen Vornamen an</div>
                                            </div>
                                            <div class = "col w-25">
                                                Nachname:<input type="text" class="form-control" maxlength="40"  name = "lastname" th:field="*{lastname}" required>
                                                <div class="invalid-feedback">Bitte geben sie einen Nachnamen an</div>
                                            </div>
                                        </div>
                                        <!-- Inputs for the newly generated Contact-->
                                        Anstellung:<input type="text" class="form-control" maxlength="50"  name = "occupation" th:field="*{occupation}" required/>
                                        <div class="invalid-feedback">Bitte geben sie eine Anstellung an</div></br>

                                        E-Mail:<input type="email" class="form-control" maxlength="50" name = "email" th:field="*{email}" required/>
                                        <div class="invalid-feedback">Bitte geben sie eine Email Adresse an</div></br>

                                        Studium:<input type="text" class="form-control" maxlength="50" name = "courseOfStudies" th:field="*{courseOfStudies}"/></br>

                                        Geburtsdatum:<input type="date" id="start" class="form-control" name="dayOfBirth" th:field="*{dayOfBirth}"></br>

                                        Freier Text:<input type="text" class="form-control" maxlength="200"  name = "freeText" rows="3" th:field="*{freeText}"/></br>

                                        Hobbies:<input type="text" class="form-control" maxlength="50"  name = "hobby" th:field="*{hobby}"/></br>

                                        Homepage:<input type="text" class="form-control" maxlength="50" name = "linkToHomepage" th:field="*{linkToHomepage}"/></br>

                                        <div class = "row">
                                            <div class = "col">
                                                Stadt:<input type="text" class="form-control" name = "tempCity" minlength="3" th:field="*{address.city}"/>
                                                <div class="invalid-feedback">Bitte geben sie eine Stadt an</div></br>

                                            </div>
                                            <div class = "col">
                                                Straße:<input type="text" class="form-control" name = "tempStreet" minlength="3" pattern="[^0-9]*" th:field="*{address.street}"
                                                              title="Darf keine Zahlen enthalten"/>
                                                <div class="invalid-feedback">Bitte geben sie eine Straße an</div></br>
                                            </div>
                                            <div class = "col">
                                                Hausnummer:<input type="text" class="form-control" name = "tempHouseNmbr"  pattern="[A-Za-z0-9]*" maxlength="5" th:field="*{address.houseNumber}"
                                                                  title="Eine Hausnummer darf nur aus Zahlen und Buchstaben bestehen und dar nicht länger als 5 Zeichen sein"/>
                                                <div class="invalid-feedback">Bitte geben sie eine Hausnummer an</div></br>
                                            </div>
                                            <div class = "col">
                                                Postleitzahl:<input type="text" class="form-control" name = "tempZipCode" th:field="*{address.zipCode}"
                                                                    pattern="^[0-9]{5}$" title="Postleitzahlen bestehen nur aus Zahlen und sind 5 Zeichen lang"/>
                                                <div class="invalid-feedback">Bitte geben sie eine Postleitzahl an</div></br>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Options to Dismiss or Save the Contact-->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                                        <button type="submit" class="btn btn-primary">Kontakt speichern</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Search Button, to search for a certain Contact to have a Relationship with -->
                <form class="mt-2" ACTION="#" th:action="@{/searchContact}" th:object="${searchWord}" method="post">
                    <!-- Search form -->
                    <div class="md-form active-cyan active-cyan-2 mb-3 ">
                        <div class="row">
                            <div class = "col-11">
                                <input class="form-control" type="text" th:value="${searchWord}" th:name ="searchWord" placeholder="Search" aria-label="Search"
                                       title="Suche nach Vorname, Nachname und E-Mail möglich">
                            </div>
                            <div class = "col-1 justify-content-end">
                                <button type="submit" class="btn btn-secondary ml-2 " >Suchen </button>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <!-- ///////////////////////////////////////////////////////////////////////////// -->
                <div class="row mt-3">
                    <div class="col-2 border-right table-wrapper-scroll-y my-custom-scrollbar">
                        <h5>Sortieren nach Tags</h5>

                        <div th:each="tags : ${allTags}">
                            <form class="mt-2" ACTION="#" th:action="@{/sortByTagContact}" th:object="${tag}" method="post">
                                <input type="hidden" th:value="${tags.name}" th:name ="name" />
                                <input type="hidden" th:value="${tags.getTagsID()}" th:name ="tagsID" />
                                <button type="submit" class= "btn btn-info" th:text="${tags.name}">
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="col-10">
                        <!--The table that shows all the stored contacts inside the database. The attributes that are shown to the user are
                                            the name of the contact (firstName and lastName ar combined!), the major, their date of birth and their email adress.
                                            Each contact has a button binded to it which is placed at the end of their row inside the column Funktionen. This button
                                            will open up an editing window where the user can change the stored information or delete this specific contact altogether-->


                        <!-- Table with the Possible Results -->
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table id="contactTable" class="table table-striped " th:if="${showList}">
                                <tr>
                                    <th role="button" onclick="sortTable(0)">Name<i class="fas fa-sort ml-1"></i></th>
                                    <th role="button" onclick="sortTable(1)">Studium<i class="fas fa-sort ml-1"></i></th>
                                    <th role="button" onclick="sortTable(2)">Letzter Kontakt<i class="fas fa-sort ml-1"></i></th>
                                    <th role="button" onclick="sortTable(3)">E-Mail<i class="fas fa-sort ml-1"></i></th>
                                    <th role="button"></th>
                                </tr>
                                <tr class="tableBody" th:each="contact : ${allContacts}">
                                    <td>
                                        <a>Name</a>
                                        <h6 th:text="${contact.firstname} + ' ' + ${contact.lastname}"></h6>
                                    </td>
                                    <td>
                                        <a>Studium</a>
                                        <h6 th:text="${contact.courseOfStudies}"></h6>

                                    </td>
                                    <td>
                                        <a>Letzter Kontakt</a>
                                        <h6 th:text="${contact.lastContact}"></h6>

                                    </td>
                                    <td>
                                        <a>E-Mail</a>
                                        <h6 th:text="${contact.email}"></h6>

                                    </td>
                                    <td>
                                        <!--Button that opens up the editing window-->
                                        <a type="button" th:href="@{/contactDetails/{contactId}(contactId=${contact.getContactID()})}" method="get">
                                            <i align="center" class="text-dark  fas fa-edit fa-2x"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
        </div>

    <footer th:insert="fragments/htmlFooter.html :: footer"> </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("contactTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

</script>