<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <title>Kontakte</title>
</head>

<body>

<!--Navbar fragment on top of the site. Contains all navigation elements of the project as well as the dropdown menu in order to view the options, logout or add User button-->

    <header th:insert="fragments/htmlHead.html :: header"> </header>

   <!-- Main Body of the contact html site. It shows a table across the site showing off all the important information of the contacts. These informations contain
        the name, their major, their date of birth, their email adress and a function column filled with a button per contact that allows the user to edit/delete the said contact-->
            <div class = "container-fluid ml-1000 mr-1000">

                <h3 align="center" style="margin-top: 15px;margin-bottom: 15px">Kontakte in der Datenbank</h3>
                <form action = "#" th:action = "@{/saveContact}" th:object ="${contact}" class="was-validated" method = post>
                    <div class="form-group ml-5 mt-2 mr-5">
                        <!-- Submit Button -->
                        <button name="submit" type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#submitModal">
                            Neuen Kontakt hinzufügen
                        </button>
                        <!-- Modal for Submit Button -->
                        <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="submitModalLabel">Kontakt Speicherung</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!--Inputs for a contact in a small Modal once the button: Neuen Kontakt hinzufügen is pushed-->
                                    <div class="modal-body">
                                        <div class = "row">
                                            <div class = "col w-25">
                                                Vorname: <input type="text" class="form-control" name = "firstname" th:field="*{firstname}" required>
                                                    <div class="valid-feedback">valid</div>
                                                    <div class="invalid-feedback">Bitte geben sie einen Vornamen an</div>
                                            </div>
                                            <div class = "col w-25">
                                                Nachname:<input type="text" class="form-control" name = "lastname" th:field="*{lastname}" required>
                                                <div class="valid-feedback">valid</div>
                                                <div class="invalid-feedback">Bitte geben sie einen Nachnamen an</div>
                                            </div>
                                        </div>
                                        <!-- Inputs for the newly generated Contact-->
                                        Anstellung:<input type="text" class="form-control" name = "occupation" th:field="*{occupation}" required/>
                                        <div class="valid-feedback">valid</div>
                                        <div class="invalid-feedback">Bitte geben sie eine Anstellung an</div></br>

                                        E-Mail:<input type="email" class="form-control" name = "email" th:field="*{email}" required/>
                                        <div class="valid-feedback">valid</div>

                                        Studium:<input type="text" class="form-control" name = "courseOfStudies" th:field="*{courseOfStudies}"/></br>

                                        Geburtsdatum:<input type="date" id="start" class="form-control" name="dayOfBirth" th:field="*{dayOfBirth}"></br>

                                        Freier Text:<input type="text" class="form-control" name = "freeText" rows="3" th:field="*{freeText}"/></br>

                                        Hobbies:<input type="text" class="form-control" name = "hobby" th:field="*{hobby}"/></br>

                                        Homepage:<input type="text" class="form-control" name = "linkToHomepage" th:field="*{linkToHomepage}"/></br>

                                        <div class = "row">
                                            <div class = "col">
                                                Stadt:<input type="text" class="form-control" name = "tempCity" th:field="*{tempCity}"/>
                                            </div>
                                            <div class = "col">
                                                Straße:<input type="text" class="form-control" name = "tempStreet" th:field="*{tempStreet}"/>
                                            </div>
                                            <div class = "col">
                                                Hausnummer:<input type="text" class="form-control" name = "tempHouseNmbr" th:field="*{tempHouseNmbr}"/>
                                            </div>
                                            <div class = "col">
                                                Postleitzahl:<input type="text" class="form-control" name = "tempZipCode" th:field="*{tempZipCode}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Options to Dismiss or Save the Contact-->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                                        <button type="submit" class="btn btn-primary">Kontakt speichern</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!--The table that shows all the stored contacts inside the database. The attributes that are shown to the user are
                    the name of the contact (firstName and lastName ar combined!), the major, their date of birth and their email adress.
                    Each contact has a button binded to it which is placed at the end of their row inside the column Funktionen. This button
                    will open up an editing window where the user can change the stored information or delete this specific contact altogether-->
                <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Studium</th>
                    <th>Geburtsdatum</th>
                    <th>E-Mail</th>
                    <th>Funktionen</th>
                </tr>
                <tr th:each="contact : ${allContacts}">
                    <td th:text="${contact.firstname} + ' ' + ${contact.lastname}"></td>
                    <td th:text="${contact.courseOfStudies}"></td>
                    <td th:text="${contact.dayOfBirth}"></td>
                    <td th:text="${contact.email}"></td>
                    <td>
                        <form ACTION="#" th:action="@{/viewContact}" th:object="${contact}">
                            <input type="hidden" th:value="${contact.contactID}" th:name ="contactID" />
                            <!--Button that opens up the editing window-->
                            <button type="submit" class="btn btn-secondary">Kontakt einsehen </button>
                        </form>
                    </td>
                </tr>

                </table>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>