<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <title>Bearbeitungshistorie</title>



</head>


<body>
<!--Obere Leiste für Einstsellungen, den Logout und den Profillink-->

<header th:insert="fragments/htmlHead.html :: header"> </header>

<!--Hauptelement des Fensters. Alle Bearbeitungen werden nach Tag chronologisch absteigend angezeigt-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="span1">
                <h2 align="center" style="margin-top: 30px; margin-bottom: 15px">Bearbeitungshistorie</h2>
                <hr>
                <p>heute</p>
                <div class="list-group">
                    <li class="list-group-item my-2 my-lg-8 shadow-lg bg-black rounded"> Ereignis ist passiert. Kontakt wurde von Person X verändert</li>
                    <li class="list-group-item my-2 my-lg-8 shadow-lg bg-black rounded"> nochmal was passiert</li>
                    <li class="list-group-item my-2 my-lg-8 shadow-lg bg-black rounded"> schon wieder was passiert</li>
                    <li class="list-group-item my-2 my-lg-8 shadow-lg bg-black rounded"> keine Ahnung irgendwas passiert</li>
                </div>
                <hr>
                <p>gestern</p>
                <div class="list-group">
                    <li class="list-group-item my-2 my-lg-8 shadow-lg bg-black rounded">Heute ist mal wieder etwas passiert</li>
                    <li class="list-group-item my-2 my-lg-8 shadow-lg bg-black rounded">ein weiterer Konatakt wurde hinzugefügt</li>
                    <li class="list-group-item my-2 my-lg-8 shadow-lg bg-black rounded">Ein Institut wurde hinzugefügt</li>
                </div>

                <div class="hr-sect">14.April 2020</div>
                <div class="lst-group">
                    <li class="list-group-item my-2 my-lg-8 shadow-lg bg-black rounded">Kontakt von Mr. Dingenskirchen wurde gelöscht</li>
                    <li class="list-group-item my-2 my-lg-8 shadow-lg bg-black rounded">Frau Müller wurde der Kontaktliste hinzugefügt</li>
                    <li class="list-group-item my-2 my-lg-8 shadow-lg bg-black rounded">ein Event wurde von dem User ..... erstellt</li>
                    <li class="list-group-item my-2 my-lg-8 shadow-lg bg-black rounded">der Kontakt von Herr Lauch wurde bearbeitet</li>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>