<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Sopra 2020 Demo Project</title>
</head>

<!--Main Body of the login site. This is the first site a user will see once he opens this application. A user will also be redirected
    to this site whenever e decides to logout from his account-->
<body class="backgroundimage">
<nav class="navbar navbar-expand-lg navbar-light uniblue">
    <!--ALUMNI NETZ has a reference to the homepage-->
    <a class="navbar-brand text-white" href="/home">ALUMNI NETZ</a>

</nav>
<div class="container centerAlign">
    <form th:action="@{/login}" method="POST" class="form-horizontal">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" th:text="'Sopra 2020 Demo Login'"></h4>
                <!--Error message if the login wasn't sucessfull -->
                <div th:if="${param.error}" class="alert alert-danger">
                    <span th:text="'Login fehlgeschlagen.'"></span>
                </div>
                <!--Message if the logout was sucessful-->
                <div th:if="${param.logout}" class="alert alert-success">
                    <span th:text="'Logout erfolgreich.'"></span>
                </div>
                <!--Input label for the username-->
                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Username</label>
                        <input type="text" id="username" name="username"  th:placeholder="'Username'" class="form-control"/><br/>
                    </div>
                </div>
                <!--Input label for the password-->
                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Password</label>
                        <input type="password"  th:placeholder="'Password'" id="password" name="password" class="form-control"/><br/>
                    </div>
                </div>
                <div class="alert alert-secondary" role="alert">
                    Zum Registrieren wenden Sie sich bitte an Ihren System Administrator
                </div>
            </div>
            <!--Button to login with the information inside the two input labels-->
            <div class="card-footer">
                <button name="Submit" value="Login" type="Submit" th:text="'Login'" class="btn btn-primary"></button>
            </div>
        </div>
    </form>
</div>

<footer  th:insert="fragments/htmlFooter.html :: footer"> </footer>
</body>
</html>