<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/432f23bc6a.js" crossorigin="anonymous"></script>

    <title>Project</title>
</head>
<body class="backgroundimage">
<!--Obere Leiste für Einstsellungen, den Logout und den Profillink-->

<header th:insert="fragments/htmlHead.html :: header"> </header>

<!-- Main Body of the projects html site. It shows a table across the site showing off all the important information of the projects and a function
    column filled with a button per projects that allows the user to edit/delete the said project-->
<div class = "container-fluid">

    <h1 align="center" style="margin-top: 15px"><i class="fas fa-project-diagram"></i> Projekte</h1>
    <!--<div class="alert alert-danger" role="alert" th:if="${hasError}">
        Bei der Speicherung des Projektes ist ein Fehler unterlaufen, bitte überprüfen Sie die Eingaben.
    </div>-->
    <form action = "#" th:action = "@{/saveProject}" th:object ="${projectDTO}" class="was-validated" method = post>
        <div class="form-group mr-5">
            <!-- Submit Button -->
            <button name="submit" type="button" class="btn btn-primary" data-toggle="modal" data-target="#submitModal">
               Neues Projekt hinzufügen
            </button>
            <!-- Modal for Submit Button -->
            <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="submitModalLabel">Projekt speichern</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!--Inputs for a project in a small Modal once the button: Neues Institut hinzufügen is pushed-->
                        <div class="modal-body">
                            Name: <input type="text" class="form-control" name = "name"
                                         pattern="[a-zA-Z][a-zA-Z ]+[a-zA-Z]$"
                                         required th:field="*{project.name}"/>
                            <div class="valid-feedback">valid</div>
                            <div class="invalid-feedback">Bitte geben sie einen Namen an</div>

                            Beschreibung: <input type="text" class="form-control" name = "description" th:field="*{project.description}"/></br>

                            Seit: <input type="date" id="start" class="form-control" max='2200-01-01' name = "since" th:field="*{project.since}"/></br>
                        </div>
                        <!-- Options to Dismiss or Save the project-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                            <button type="submit" class="btn btn-primary">Projekt speichern</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Search Button, to search for a certain Contact to have a Relationship with -->
    <form class="mt-2" ACTION="#" th:action="@{/searchProject}" th:object="${searchWord}" method="post">
        <!-- Search form -->
        <div class="md-form active-cyan active-cyan-2 mb-3">
            <div class="row">
                <div class = "col-11">
                    <input aria-label="Search" class="form-control" placeholder="Suchen" th:name ="searchWord" th:value="${searchWord}" type="text"
                           title="Suche nach Vorname, Nachname und E-Mail möglich">
                </div>
                <div class = "col-1 justify-content-end">
                    <button type="submit" class="btn btn-secondary ml-2 " >Suchen </button>
                </div>
            </div>
        </div>
    </form>
    <hr>

    <!-- ///////////////////////////////////////////////////////////////////////////// -->
    <div class="row mt-3 mb-5">
        <div class="col-2 border-right table-wrapper-scroll-y my-custom-scrollbar">
            <h5>Sortieren nach Tags</h5>

            <div th:each="tags : ${allTags}">
                <form class="mt-2" ACTION="#" th:action="@{/sortByTagProjects}" th:object="${tag}" method="post">
                    <input type="hidden" th:value="${tags.name}" th:name ="name" />
                    <input type="hidden" th:value="${tags.getTagsID()}" th:name ="tagsID" />
                    <button type="submit" class= "btn btn-info" th:text="${tags.name}">
                    </button>
                </form>
            </div>
        </div>

        <div class="col-10 table-wrapper-scroll-y my-custom-scrollbar">
        <!--The table that shows all the stored projects inside the database.
        Each project has a button binded to it which is placed at the end of their row inside the column Funktionen. This button
        will open up an editing window where the user can change the stored information or delete this specific project altogether-->
            <table id="projectsTable" class="table table-striped mt-3">
                <tr>
                    <th role="button" onclick="sortTable(0)">Name<i class="fas fa-sort ml-1"></i></th>
                    <th role="button" onclick="sortTable(1)">Beschreibung<i class="fas fa-sort ml-1"></i></th>
                    <th role="button" onclick="sortTable(2)">Seit<i class="fas fa-sort ml-1"></i></th>
                    <th></th>
                </tr>
                <tr th:each="project : ${projectDTO.getAllProjects()}">
                    <td>
                        <a>Name</a>
                        <h6 class="tableElement" th:text="${project.name}"></h6>
                    </td>
                    <td>
                        <a>Beschreibung</a>
                        <h6 class="tableElement" th:text="${project.description}"></h6>
                    </td>
                    <td>
                        <a>Seit</a>
                        <h6 class="tableElement" th:text="${project.since}"></h6>
                    </td>
                    <td>
                        <!--Button that opens up the editing window-->
                        <a type="button" th:href="@{/projectDetails/{projectId}(projectId=${project.getProjectID()})}" method="get">
                            <i align="center" class="text-dark  fas fa-edit fa-2x"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<footer  th:insert="fragments/htmlFooter.html :: footer"> </footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("projectsTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

</script>