<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Lukas Januschke">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <!--fontawesome button pics-->
    <script src="https://kit.fontawesome.com/432f23bc6a.js" crossorigin="anonymous"></script>

    <title>Neue Kontakthistorie</title>
</head>
<body class="backgroundimage">
    <!--Navbar fragment on top of the site. Contains all navigation elements of the project as well as the dropdown menu in order to view the options, logout or add User button-->
    <header th:insert="fragments/htmlHead.html :: header"> </header>

    <div class = "container-fluid">
        <!--Progressbar and Heading-->
        <div class="mr-5 ml-5 mt-3">
            <h1>Erstellen eines neuen Historien Eintrags</h1>
        </div>
        <div class="progress mr-5 ml-5 mt-3">
            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                 aria-valuemin="0" aria-valuemax="100" style="width:00%">
                <span class="sr-only">00% Complete</span>
            </div>
        </div>
        <!--Back Button which returns to the ContactDetails page-->
        <!-- Back button to return to contactDetails -->
        <a type="button" class="btn btn-secondary ml-5" th:href="@{/contactDetails/{ID}(ID=${contactHistoryDTO.getOriginalContactID()})}" method="get"><i class="far fa-arrow-alt-circle-left"></i> Zurück
        </a>

        <!--General Informations-->
        <div class="mr-5 ml-5 mt-3">
            <h3>Legen Sie zunächst die Teilnehmer fest.</h3>
            <div class="mt-3 mb-3">
                <!--Search Function to find a Contact-->
                <form ACTION="#" th:action="@{/searchContactForHistory}" th:object="${contactHistoryDTO}" method="post">
                    <input type="hidden" th:value="${contactHistoryDTO.originalContactID}" th:name ="originalContactID" />
                    <input type="hidden" th:value="${contactHistoryDTO.stringChosenIDs}" th:name ="stringChosenIDs"/>
                    <div class="row">
                        <div class = "col-11">
                            <input class="form-control" type="text" th:value="${contactHistoryDTO.searchWord}" th:name ="searchWord" placeholder="Search" aria-label="Search"
                                   title="Suche nach Vorname, Nachname und E-Mail möglich">
                        </div>
                        <div class = "col-1 justify-content-end">
                            <button type="submit" class="btn btn-secondary ml-2 " >Suchen </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--Table which shows the results of the , only visible if search is succesfull-->
            <table th:if="${showSearchList}" class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Studium</th>
                    <th>Letzter Kontakt</th>
                    <th>E-Mail</th>
                    <th>Funktion</th>
                </tr>
                <tr  th:each="contact : ${contactHistoryDTO.foundContacts}">
                    <td>
                        <a>Name</a>
                        <h6 class="tableElement" th:text="${contact.firstname} + ' ' + ${contact.lastname}"></h6>
                    </td>
                    <td>
                        <a>Studium</a>
                        <h6 class="tableElement" th:text="${contact.courseOfStudies}"></h6>

                    </td>
                    <td>
                        <a>Letzter Kontakt</a>
                        <h6 class="tableElement" th:text="${contact.lastContact}"></h6>

                    </td>
                    <td>
                        <a>E-Mail</a>
                        <h6 class="tableElement" th:text="${contact.email}"></h6>

                    </td>
                    <td>
                        <!--Button, which adds a Contact to the chosen Contact List-->
                        <form ACTION="#" th:action="@{/chooseContactForHistory}" th:object="${contactHistoryDTO}" method="post">
                            <input type="hidden" th:value="${contact.contactID}" th:name ="selectedContact"/>
                            <input type="hidden" th:value="${contactHistoryDTO.originalContactID}" th:name ="originalContactID" />
                            <input type="hidden" th:field="${contactHistoryDTO.stringChosenIDs}"/>

                            <input type="hidden" th:field="${contactHistoryDTO.stringFoundIDs}"/>
                            <button type="submit" class="btn btn-secondary" data-toggle="modal" data-target="#submitModal">Kontakt auswählen</button>
                        </form>
                    </td>
                </tr>
            </table>
            <!--Chosen Contacts, only to be seen if it has an entry-->
            <table th:if="${showSelectedList}" class="table table-striped">
                <h3>Ausgewählte Teilnehmer</h3>
                <tr>
                    <th>Name</th>
                    <th>Studium</th>
                    <th>Letzter Kontakt</th>
                    <th>E-Mail</th>
                    <th>Funktion</th>
                </tr>
                <tr  th:each="contact : ${contactHistoryDTO.chosenContacts}">
                    <td>
                        <a>Name</a>
                        <h6 class="tableElement" th:text="${contact.firstname} + ' ' + ${contact.lastname}"></h6>
                    </td>
                    <td>
                        <a>Studium</a>
                        <h6 class="tableElement" th:text="${contact.courseOfStudies}"></h6>

                    </td>
                    <td>
                        <a>Letzter Kontakt</a>
                        <h6 class="tableElement" th:text="${contact.lastContact}"></h6>

                    </td>
                    <td>
                        <a>E-Mail</a>
                        <h6 class="tableElement" th:text="${contact.email}"></h6>

                    </td>
                    <td>
                        <!--Button for Deletion of a Chosen Contact from the List-->
                        <form ACTION="#" th:action="@{/deleteChoosenContacts}" th:object="${contactHistoryDTO}" method = "post">
                            <input type="hidden" th:value="${contactHistoryDTO.originalContactID}" th:name ="originalContactID" />
                            <input type="hidden" th:value="${contactHistoryDTO.selectedContact}" th:name ="selectedContact" />
                            <input type="hidden" th:field="${contactHistoryDTO.stringChosenIDs}"/>
                            <input type="hidden" th:field="${contactHistoryDTO.stringFoundIDs}"/>
                            <button type="submit" class="btn btn-secondary" data-toggle="modal" data-target="#submitModal">Kontakt Entfernen</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div th:if="${showSelectedList}" class="mr-5 ml-5 mt-3">
            <form ACTION="#" th:action="@{/submitChosenContacts}" th:object="${contactHistoryDTO}" method="post">
                <button type="submit" class="btn btn-secondary" data-toggle="modal" data-target="#submitModal">Teilnehmer bestätigen</button>
                <input type="hidden" th:value="${contactHistoryDTO.originalContactID}" th:name ="originalContactID" />
                <input type="hidden" th:value="${contactHistoryDTO.selectedContact}" th:name ="selectedContact" />
                <input type="hidden" th:field="${contactHistoryDTO.stringChosenIDs}"/>
            </form>
        </div>
    </div>

    <footer th:insert="fragments/htmlFooter.html :: footer"> </footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>