<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <title>Kontakte</title>
</head>

<body>

<!--Obere Leiste für Einstsellungen, den Logout und den Profillink-->
<header th:insert="fragments/htmlHead.html :: header"> </header>

<div class="container-fluid mt-5">

    <!-- Main Body -->
    <h1 class="ml-1"> Kontaktinformationen</h1>

    <div class="accordion mt-2" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h1 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h3>Allgemeine Kontaktinformationen</h3>
                    </button>
                </h1>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <form class="form-horizontal" id="multiCollapseExample1" th:object="${contact}" th:action="@{/savingContact}" method="post">

                        <div class="row">
                                <div class = "col-sm-10w">
                                    <div class = "row">
                                        <div class = "col w-25">
                                            Vorname: <input type="text" class="form-control" name = "firstname" th:field="*{firstname}"/> </br>
                                        </div>
                                        <div class = "col w-25">
                                            Nachname:<input type="text" class="form-control" name = "lastname" th:field="*{lastname}"/></br>
                                        </div>
                                    </div>
                                    Anstellung:<input type="text" class="form-control" name = "occupation" th:field="*{occupation}"/></br>
                                    E-Mail:<input type="email" class="form-control" name = "email" th:field="*{email}"/></br>
                                    Studium:<input type="text" class="form-control" name = "courseOfStudies" th:field="*{courseOfStudies}"/></br>
                                </div>
                                <div class = "col-sm-10w ml-5">
                                    Geburtsdatum:<input type="date" id="start" class="form-control" name="trip-start" th:value = "*{dayOfBirth}" th:field="*{dayOfBirth}"></br>
                                    Freier Text:<input type="text" class="form-control" name = "freeText" rows="3" th:field="*{freeText}"/></br>
                                    Hobbies:<input type="text" class="form-control" name = "hobby" th:field="*{hobby}"/></br>
                                    Homepage:<input type="text" class="form-control" name = "linkToHomepage" th:field="*{linkToHomepage}"/></br>
                                </div>
                        </div>

                            <div class = "row">
                                <div class = "col">
                                    Stadt:<input type="text" class="form-control" name = "tempCity" th:field="*{address.city}"/>
                                </div>
                                <div class = "col">
                                    Straße:<input type="text" class="form-control" name = "tempStreet" th:field="*{address.street}"/>
                                </div>
                                <div class = "col">
                                    Hausnummer:<input type="text" class="form-control" name = "tempHouseNmbr" th:field="*{address.houseNumber}"/>
                                </div>
                                <div class = "col">
                                    Postleitzahl:<input type="text" class="form-control" name = "tempZipCode" th:field="*{address.zipCode}"/>
                                </div>
                            </div>

                        <button type="submit" class="btn btn-primary mt-3 ml-3">Kontakt speichern</button>
                    </form>
                    <form ACTION="#" th:action="@{/deleteContact}" th:object="${contact}" method="post">
                        <input type="hidden" th:value="${contact.contactID}" th:name ="contactID" />

                        <button type="submit" class="btn btn-danger mt-3 ml-3">Kontakt löschen </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h3>Beziehungen</h3>
                    </button>
                </h2>
            </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <table class="table table-striped" th:if="${existingRelationships}">
                    <tr>
                        <th>Name</th>
                        <th>Art der Beziehung</th>
                        <th>Mit</th>
                        <th>Funktionen</th>
                    </tr>
                    <tr th:each="relationship : ${contact.outgoingRelationships}">
                        <td th:text="${relationship.contactA.firstname}"></td>
                        <td th:text="${relationship.typeOfRelationship}"></td>
                        <td th:text="${relationship.contactB.firstname}"></td>
                        <td>
                            <form ACTION="#" th:action="@{/deleteOutgoingRelationship}" th:object="${relationship}">
                                <input type="hidden" th:value="${relationship.relationshipID}" th:name ="relationshipID" />
                                <button type="submit" class="btn btn-secondary">Relation löschen </button>
                            </form>
                        </td>
                    </tr>
                </table>

                <div th:if="${not existingRelationships}" class="ml-5 mr-5 mt-5">
                    Keine Beziehungen vorhanden, neue Beziehung hinzufügen?
                </div>

                <form class="ml-5 mr-5 mt-5" ACTION="#" th:action="@{/createNewRelationship}" th:object="${contact}" method="post">
                    <input type="hidden" th:value="${contact.contactID}" th:name ="contactID" />
                    <button type="submit" class="btn btn-secondary">Neue Beziehung erstellen </button>
                </form>


            </div>
        </div>
    </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h3>Kontakthistorien</h3>
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Datum des Kontakts </th>
                            <th>Text</th>
                            <th>Funktionen</th>
                        </tr>
                        <tr th:each="contacthistories : ${contact.contactHistory}">
                            <td th:text="${contacthistories.date}"></td>
                            <td th:field="*{contacthistories.text}"></td>
                            <td>
                                <form ACTION="#" th:action="@{/openEditContactHistory}" th:object="${viewedHistory}">
                                    <input type="hidden" th:value="${contacthistories.contactHistoryID}" th:name ="contactHistoryID" />
                                    <button type="submit" class="btn btn-secondary">bearbeiten </button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>