<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Lukas Januschke">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <title>Kontakthistorien Bearbeitung</title>

</head>
<body class="backgroundimage">
<!-- HTMLHead with Taskbar -->
<header th:insert="fragments/htmlHead.html :: header"> </header>
    <!-- Container with main Contents of Site-->
    <div class = "container-fluid mt-5">

        <h1>Bearbeiten einer Kontakthistorie</h1>
        <!-- Back button returns to ContactDetails -->
        <a type="button" class="btn btn-secondary" th:href="@{/contactDetails/{ID}(ID=${contactHistoryDTO.getOriginalContactID()})}" method="get" th:text="'Zurück'">
        </a>

        <!-- Editing and Viewing general Information of the History -->
        <form class="form-horizontal" id="EditingHistory" th:object="${contactHistoryDTO}" th:action="@{/savingContactHistory}" method="get">
            <div>
                <h3 class="mt-3">Allgemeine Informationen</h3>
                <input type="hidden" th:value="${contactHistoryDTO.originalContactID}" th:name ="originalContactID" />
                <input type="hidden" th:value="${contactHistoryDTO.stringChosenIDs}" th:name ="stringChosenIDs"/>
                <input type="hidden" th:value="${contactHistoryDTO.stringFoundIDs}" th:name ="stringFoundIDs"/>
                <input type="hidden" th:field="${contactHistoryDTO.contactHistory.contactHistoryID}"/>

                Datum: <input type="date" class="form-control" name = "date" th:field = "${contactHistoryDTO.contactHistory.date}" /> </br>
                Beschreibung: <input type="text" class="form-control" name = "text" th:field = "${contactHistoryDTO.contactHistory.text}"/> </br>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Kontakthistorie speichern</button>
        </form>
        <!-- Table with the current Contacts of the History -->
        <h3 class="mt-3">Beteiligte Kontakte</h3>
        <table class="table table-striped mt-3">
            <tr>
                <th>Name</th>
                <th>Studium</th>
                <th>Geburtsdatum</th>
                <th>E-Mail</th>
                <th>Funktionen</th>
            </tr>
            <tr th:each="contact : ${contactHistoryDTO.contactHistory.contactOfHistory}">
                <td th:text="${contact.firstname} + ' ' + ${contact.lastname}"></td>
                <td th:text="${contact.courseOfStudies}"></td>
                <td th:text="${contact.dayOfBirth}"></td>
                <td th:text="${contact.email}"></td>
                <td>
                    <!-- Delete Contact from History -->
                    <form ACTION="#" th:action="@{/deleteContactFromHistory}" th:object="${contactHistoryDTO}" method="post">
                        <input type="hidden" th:value="${contact.contactID}" th:name ="selectedContact" />
                        <input type="hidden" th:value="${contactHistoryDTO.originalContactID}" th:name ="originalContactID" />
                        <input type="hidden" th:value="${contactHistoryDTO.stringChosenIDs}" th:name ="stringChosenIDs"/>
                        <input type="hidden" th:value="${contactHistoryDTO.stringFoundIDs}" th:name ="stringFoundIDs"/>
                        <input type="hidden" th:field="${contactHistoryDTO.contactHistory.contactHistoryID}"/>
                        <button type="submit" class="btn btn-secondary" data-toggle="modal" data-target="#submitModal">Kontakt Entfernen</button>
                    </form>
                </td>
            </tr>
        </table>
        <!-- Button to enable the adding of other Contacts -->
        <form ACTION="#" th:action="@{/enableAddContacts}" method="post">
            <button type="submit" class="btn btn-secondary" >Neue Kontakte hinzufügen </button>
            <input type="hidden" th:value="${contactHistoryDTO.originalContactID}" th:name ="originalContactID" />
            <input type="hidden" th:value="${contactHistoryDTO.stringChosenIDs}" th:name ="stringChosenIDs"/>
            <input type="hidden" th:value="${contactHistoryDTO.stringFoundIDs}" th:name ="stringFoundIDs"/>
            <input type="hidden" th:field="${contactHistoryDTO.contactHistory.contactHistoryID}"/>
        </form>
        <!-- Form with which you can add another Contact to the ContactHistory -->
        <div th:if="${addContact}">
            <h5>Wählen Sie einen Kontakt aus</h5>
            <!-- Search option for Contacts -->
            <form ACTION="#" th:action="@{/searchContactForHistoryEditor}" th:object="${contactHistoryDTO}" method="post">
                <input th:value="${contactHistoryDTO.searchWord}" th:name ="searchWord" />
                <input type="hidden" th:value="${contactHistoryDTO.originalContactID}" th:name ="originalContactID" />
                <input type="hidden" th:value="${contactHistoryDTO.stringChosenIDs}" th:name ="stringChosenIDs"/>
                <input type="hidden" th:value="${contactHistoryDTO.stringFoundIDs}" th:name ="stringFoundIDs"/>
                <input type="hidden" th:field="${contactHistoryDTO.contactHistory.contactHistoryID}"/>
                <button type="submit" class="btn btn-danger ml-2" >Suchen </button>
            </form>
            <!-- Table with the results -->
            <table class="table table-striped mt-3" th:if="${viewTable}">
                <tr>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Email</th>
                    <th>Funktion</th>
                </tr>
                <tr th:each="contact : ${allContacts}">
                    <td th:text="${contact.firstname}"></td>
                    <td th:text="${contact.lastname}"></td>
                    <td th:text="${contact.email}"></td>
                    <td>
                        <!-- Add selected Contact to the History -->
                        <form ACTION="#" th:action="@{/addContactToHistory}" th:object="${contactHistoryDTO}" method="post">
                            <input type="hidden" th:value="${contact.contactID}" th:name ="selectedContact" />
                            <input type="hidden" th:value="${contactHistoryDTO.originalContactID}" th:name ="originalContactID" />
                            <input type="hidden" th:value="${contactHistoryDTO.stringChosenIDs}" th:name ="stringChosenIDs"/>
                            <input type="hidden" th:value="${contactHistoryDTO.stringFoundIDs}" th:name ="stringFoundIDs"/>
                            <input type="hidden" th:field="${contactHistoryDTO.contactHistory.contactHistoryID}"/>
                            <button type="submit" class="btn btn-secondary" data-toggle="modal" data-target="#submitModal">Kontakt auswählen</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

        <!--Form for Deletion of ContactHistory-->
        <form ACTION="#" th:action="@{/deleteContactHistory}" th:object="${contactHistoryDTO}" method="post">
            <input type="hidden" th:value="${contactHistoryDTO.contactHistory.contactHistoryID}" th:name ="contactHistoryID" />
            <input type="hidden" th:value="${contactHistoryDTO.originalContactID}" th:name ="originalContactID" />
            <input type="hidden" th:value="${contactHistoryDTO.stringChosenIDs}" th:name ="stringChosenIDs"/>
            <input type="hidden" th:value="${contactHistoryDTO.stringFoundIDs}" th:name ="stringFoundIDs"/>
            <input type="hidden" th:field="${contactHistoryDTO.contactHistory.contactHistoryID}"/>
            <button type="submit" class="btn btn-danger mt-3">Kontakthistorie löschen </button>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>