<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/432f23bc6a.js" crossorigin="anonymous"></script>
    <title>Kontakte</title>
</head>

<body class="backgroundimage">

<!--Navbar fragment on top of the site. Contains all navigation elements of the project as well as the dropdown menu in order to view the options, logout or add User button-->
<header th:insert="fragments/htmlHead.html :: header"> </header>

<div class="container-fluid">

    <!-- Main Body of the ContactDetails Site, includes general Information, aswell as Contact Histories and Relationships, which all can be Edited or removed-->
    <h1 align="center" style="margin-top: 15px"><i class="far fa-address-book"></i>  Kontaktinformationen</h1>
    <div class="row ml-1">
        <form ACTION="#" th:action="@{/backContactDetails}" method="post">
            <button class="btn btn-secondary" type="submit"><i class="far fa-arrow-alt-circle-left"></i> Zurück</button>
        </form>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger ml-1" data-toggle="modal" data-target="#deleteModal">
            <i class="fas fa-trash-alt"></i>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Beziehung Löschen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Sind sie sicher das Sie diesen Kontakt löschen möchten?

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button"><i class="fas fa-ban"></i> Abbrechen</button>
                        <form ACTION="#" th:action="@{/deleteContact}" th:object="${contact}" method="post">
                            <input type="hidden" th:value="${contact.contactID}" th:name ="contactID" />

                            <button type="submit" class="btn btn-danger ml-3">Kontakt löschen</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Accordion for better navigation-->
    <div class="accordion mt-2"  id="accordionExample">
        <div class="card">

            <!-- First Accordion Element, with general Information of the viewed Contact-->
            <div class="card-header" id="headingOne">
                <h1 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h3 class = "text-dark"><i class="fas fa-info-circle"></i> Allgemeine Kontaktinformationen</h3>
                    </button>
                </h1>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <form class="form-horizontal" id="multiCollapseExample1" th:object="${contact}" th:action="@{/savingContact}" method="post">
                        <!-- Input and View Field for the Contact Details-->
                        <input type="hidden" th:field="*{contactID}"/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
                            <a>Eine ihrer Eingaben ist fehlerhaft, bitte überprüfen Sie ihre Eingaben</a>
                        </div>
                        <div class="row">
                            <div class = "col">
                                <div class = "row">
                                    <div class = "col w-25">
                                        Vorname: <input type="text" class="form-control" name = "firstname"  maxlength="40" th:field="*{firstname}" required/> </br>
                                    </div>
                                    <div class = "col w-25">
                                        Nachname:<input type="text" class="form-control" name = "lastname" maxlength="40"   th:field="*{lastname}" required/></br>
                                    </div>
                                </div>
                                <div>
                                    Anstellung:<input type="text" class="form-control" name = "occupation" maxlength="50"  th:field="*{occupation}" /></br>
                                </div>
                                <div>
                                    E-Mail:<input type="email" class="form-control" maxlength="50"  name = "email" th:field="*{email}"/></br>
                                </div>
                                <div>
                                    Studium:<input type="text" class="form-control"  maxlength="50" name = "courseOfStudies" th:field="*{courseOfStudies}"/></br>
                                </div>
                            </div>
                            <div class = "col">
                                <div>
                                    Geburtsdatum:<input type="date" id="start" class="form-control" name="dayOfBirth" max='2200-01-01' th:field="*{dayOfBirth}"></br>
                                </div>
                                <div>
                                    Freier Text:<input type="text" class="form-control" maxlength="200"  name = "freeText" rows="3" th:field="*{freeText}"/></br>
                                </div>
                                <div>
                                    Hobbies:<input type="text" class="form-control" maxlength="50"  name = "hobby" th:field="*{hobby}"/></br>
                                </div>
                                <div>
                                    Homepage:<input type="text" class="form-control" maxlength="50" name = "linkToHomepage" th:field="*{linkToHomepage}"/></br>
                                </div>
                            </div>
                        </div>

                        <div class = "row">
                            <div class = "col">
                                Stadt:<input type="text" class="form-control" name = "tempCity" minlength="3" th:field="*{address.city}"/>

                            </div>
                            <div class = "col">
                                Straße:<input type="text" class="form-control" name = "tempStreet" minlength="3" pattern="[^0-9]*" th:field="*{address.street}"
                                              title="Darf keine Zahlen enthalten"/>
                                <div class="invalid-feedback">Bitte geben sie eine Straße an</div></br>
                            </div>
                            <div class = "col">
                                Hausnummer:<input class="form-control" name = "tempHouseNmbr" pattern="^[0-9]{1,6}[/]{0,1}[0-9]{0,1}[-]{0,1}[0-9]{0,1}[a-z]{0,1}[A-Z]{0,1}$"  required th:field="*{address.houseNumber}" type="text"/>
                                <div class="invalid-feedback">Bitte geben sie eine Hausnummer an</div></br>
                            </div>
                            <div class = "col">
                                Postleitzahl:<input type="text" class="form-control" name = "tempZipCode" th:field="*{address.zipCode}"
                                                    pattern="^[0-9]{5}$" title="Postleitzahlen bestehen nur aus Zahlen und sind 5 Zeichen lang"/>
                            </div>
                        </div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#saveModal">
                            Änderungen speichern
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="saveModalLabel">Kontakt Löschen</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Sind sie sicher das Sie die Änderungen speichern möchten?
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button"> Abbrechen</button>
                                        <button class="btn btn-primary" type="submit"> Änderungen speichern</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <!-- Second Accordion Element for Relationships-->
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h3 class = "text-dark"><i class="fas fa-handshake"></i> Beziehungen</h3>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <!--Table for Relationships-->
                    <table class="table table-striped mb-2" th:if="${viewRelationship}">
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr th:each="relationship : ${contact.outgoingRelationships}">
                            <td>
                                <a>Name</a>
                                <h6 class="tableElement" th:text="${relationship.contactA.firstname + ' ' + relationship.contactA.lastname}"></h6>
                            </td>
                            <td>
                                <a>Art der Beziehung</a>
                                <h6 class="tableElement" th:text="${relationship.typeOfRelationship}"></h6>
                            </td>
                            <td>
                                <a>Mit</a>
                                <h6 class="tableElement" th:text="${relationship.contactB.firstname + ' '+relationship.contactB.lastname}"></h6>
                            </td>
                            <td>
                                <a>Seit</a>
                                <h6 class="tableElement"  th:text="${relationship.since}"></h6>
                            </td>
                            <td>

                                <!-- Button for Deletion of Relationship -->
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#relationshipModal">
                                    <i class="fas fa-trash-alt"></i>
                                </button>

                                <!-- Modal for Deletion of Relationships -->
                                <div class="modal fade" id="relationshipModal" tabindex="-1" role="dialog" aria-labelledby="relationshipModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="relationshipModalLabel">Beziehung Löschen</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Sind sie sicher das Sie diese Beziehung löschen möchten?
                                                <div class="mt-2 text-muted"> Hinweis: Die Gegenrichtung wird ebenfalls entfernt</div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                                                <!-- Button for Deletion of Relationship-->
                                                <form ACTION="#" th:action="@{/deleteOutgoingRelationship}" th:object="${relationship}" method="post">
                                                    <input type="hidden" th:value="${relationship.relationshipID}" th:name ="relationshipID" />
                                                    <button type="submit" class="btn btn-danger">Beziehung löschen </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </table>
                    <!-- If Statement if no Relationship is available -->
                    <div th:if="${not viewRelationship}" class="mr-5 mt-2 mb-2">
                        Keine Beziehungen vorhanden, neue Beziehung hinzufügen?
                    </div>
                    <!-- Button to Start Creation of new Relationship -->


                    <a class="btn btn-primary" method="get" th:href="@{/relationshipCreator1/{contactId}(contactId=${contact.getContactID()})}" type="button"> Neue Beziehung erstellen
                    </a>
                </div>
            </div>
        </div>
        <!-- Third Accordion Element for Viewing of Contact Histories-->
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2>
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h3 class = "text-dark"><i class="fas fa-history"></i> Kontakthistorien</h3>
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <!-- Table for Contact Histories-->
                    <table class="table table-striped" th:if="${viewContactHistory}">
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr th:each="contacthistories : ${contact.contactHistory}">
                            <td>
                                <a>Datum des Kontakts</a>
                                <h6 class="tableElement" th:text="${contacthistories.date}"></h6>
                            </td>
                            <td>
                                <a>Weitere Informationen</a>
                                <h6 class="tableElement" th:text="*{contacthistories.text}"></h6>
                            </td>
                            <td>
                                <!--Button that opens up the editing window-->
                                <a type="button" th:href="@{/contactHistoryEditor/{contactID}/{historyID}(contactID=${contact.getContactID()}, historyID=${contacthistories.getContactHistoryID()})}" method="get">
                                    <i align="center" class="text-dark fa-2x fas fa-edit "></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!-- If Statement if no Relationship is available -->
                    <div class="mr-5 mt-2 mb-2" th:if="${not viewContactHistory}" >
                        Keine Kontakthistorien vorhanden, neue Kontakthistorie anlegen?
                    </div>
                    <!-- Button to Start Creation of new Contact History -->
                    <a class="btn btn-primary" method="get" th:href="@{/contactHistoryCreator1/{contactId}(contactId=${contact.getContactID()})}" type="button">Neuen Eintrag erstellen
                    </a>

                </div>
            </div>
        </div>


        <!-- Third Accordion Element for Viewing of Contact Histories-->
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <h3 class = "text-dark"><i class="fas fa-tags"></i> Tags</h3>
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                        <div class="row" th:each="tag : ${contact.tags}">
                            <div class="col">
                                <form ACTION="#" th:action="@{/deleteContactTag}" th:object="${tagDTO}" method="get">

                                        <input type="hidden" th:value="${tag.tagsID}" th:name ="tagID" />
                                        <input type="hidden" th:field="${tagDTO.originalID}" />
                                        <button type="submit" class="btn btn-info mb-1" href="#">
                                            <a class="mr-2" th:text="${tag.name}"></a>
                                            <i class="fas fa-times icon-large" ></i>
                                        </button>

                                </form>
                            </div>
                        </div>

                    <!-- If Statement if no Relationship is available -->
                    <div class="mr-5 mt-2 mb-2" th:if="${not viewTags}" >
                        Keine Tags zugeordnet, neuen Tag zuordnen?
                    </div>
                    <!-- Button to Start Creation of new Contact History -->
                    <a class="btn btn-primary" method="get" th:href="@{/tags/{type}/{contactId}(type= ${'contact'}, contactId=${contact.getContactID()})}" type="button">Tag zuordnen
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="fragments/htmlFooter.html :: footer"> </footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>