<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Lukas Januschke">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <title>Neue Beziehung</title>
</head>
<body class="backgroundimage">
<!--Navbar fragment on top of the site. Contains all navigation elements of the project as well as the dropdown menu in order to view the options, logout or add User button-->
    <header th:insert="fragments/htmlHead.html :: header"> </header>

    <div class="container-fluid">
        <!-- Main Body, with Heading and Progressbar -->
        <div class="mr-5 ml-5 mt-3">
            <h1>Erstellen einer neuen Beziehung</h1>
        </div>
        <div class="progress mr-5 ml-5 mt-3">
            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                 aria-valuemin="0" aria-valuemax="100" style="width:50%">
                <span class="sr-only">50% Complete</span>
            </div>
        </div>
        <!-- Button which returns to the first Step of the Creation process, relationshipCreator1 -->
        <div class="mr-5 ml-5 mt-3 mb-2">
            <!--Button that opens up the editing window-->
            <a type="button" class="btn btn-secondary" th:href="@{/relationshipCreator1/{contactHistoryID}(contactHistoryID=${relationshipDTO.getContactA()})}" method="get" th:text="'Zurück'">
            </a>
            <h4 class="mt-2">Weitere Eingaben</h4>
            <!-- Form to add Information to the Relationship -->
            <form class="form-horizontal mt-3" id="multiCollapseExample1" th:object="${relationshipDTO}" th:action="@{/saveRelationship}" method="post">
                <input type = "hidden" th:value="${relationshipDTO.contactA}" th:name ="contactA" />
                <input type = "hidden" th:value="${relationshipDTO.contactB}" th:name ="contactB" />
                <div class="alert alert-danger" role="alert" th:if="${hasError}">
                    Bitte überprüfen Sie Ihre Eingaben, da diese Fehlerhaft sind.
                </div>

                <div class="alert alert-success" role="alert">
                    Gewählter Kontakt: <a th:text = "${relationshipDTO.getRelationship().getContactB().getFirstname()}">  </a></br>
                </div>
                    Art der Beziehung:<input type="text" class="form-control" name = "occupation" th:field="*{relationship.typeOfRelationship}"/></br>
                    Datum des Begins der Beziehung: <input type="date" id="start" class="form-control" name="trip-start" th:field="*{relationship.since}"></br>
                    <p>
                        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#CollapseIngoing" aria-expanded="false" aria-controls="CollapseIngoing">Bezeichnung für Gegenrechnung hinzufügen</button>
                    </p>
                    <!-- Option to add the ingoing Relationship Type -->
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="CollapseIngoing">
                                <div class="card card-body">
                                    <div class="mb-2 text-muted"> Hinweis: Eingabe nicht nötig, bei fehlender Eingabe identisch</div>
                                    Gegenrichtung: <input type="text" class="form-control" name="ingoingString" th:field="*{relationship.ingoingString}"></br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Beziehung speichern</button>
                </form>
        </div>
    </div>

<footer th:insert="fragments/htmlFooter.html :: footer"> </footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>